@model PnPAutomationUI.Models.Configuration
<link rel="stylesheet" href="~/Content/fabric.min.css" />
<link rel="stylesheet" href="~/Content/fabric.components.min.css" />
<link rel="stylesheet" href="~/Content/Configuration.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Configuration.js"></script>
<style type="text/css">
    .txtLargeWidth input, textarea {
        max-width: 900px;
        width: 550px;
        box-sizing : content-box;
    }
</style>
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    <div class="ms-font-su ms-fontColor-themePrimary ms-fontWeight-semibold" style="text-align: center;">Edit Configuration </div>
    if (Model != null)
    {
        if (ViewBag.IsUpdated)
        {
            <div style="width: 70%; margin: auto" class="ms-Grid ms-font-s-plus ms-fontColor-themePrimary ms-fontWeight-semibold">
                Configuration Data Updated!
            </div>
        }

        <div style="width: 70%; margin: auto" class="ms-Grid">
            <br />
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Name:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth">@Model.ConfiguratioName</div>
            </div>
            @*<div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Anonymous Access:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s">@Html.EditorFor(model => model.AnonymousAccess, new { @style = "widht:100%" })</div>
                </div>*@
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Description:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth">
                    @Html.EditorFor(model => model.Description, new { @class = "txtLargeWidth", @Style = "max-width: 900px;width: 550px;box-sizing : unset" })
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">VS Build Configuration:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s">
                    @Html.EditorFor(model => model.VSBuildConfiguration)
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Github branch:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s">
                    @Html.EditorFor(model => model.GithubBranch)
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Type:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">@Model.AppType</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Category:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">@Model.CategoryName</div>
            </div>
            @if (Model.IdentityUserNameDisplayText == "Credential Manager")
            {
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">@Model.IdentityUserNameDisplayText:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s" style="word-wrap: break-word;">
                        @Html.EditorFor(model => model.CredentialManagerLabel)
                    </div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Domain:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">
                        @Html.EditorFor(model => model.Domain)
                    </div>
                </div>
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">User:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">
                        @Html.EditorFor(model => model.UserName)
                    </div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Password:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">
                        @Html.EditorFor(model => model.PassWord)
                    </div>
                </div>
            }
            else
            {
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">@Model.IdentityUserNameDisplayText:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth" style="word-wrap: break-word;">
                        @Html.EditorFor(model => model.ClientID)
                    </div>
                </div>
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">@Model.IdentityPassWordDisplayText:</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth" style="word-wrap: break-word;">
                        @Html.EditorFor(model => model.ClientSecret)
                    </div>
                </div>
            }

            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">PlatForm:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s">
                    @Html.EditorFor(model => model.Platform)
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Test site collection url:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth">
                    @Html.EditorFor(model => model.Testsitecollection)
                </div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Tenant Admin site collection url:</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth">
                    @Html.EditorFor(model => model.Tenantadminsitecollection)
                </div>
            </div>

            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm12 ms-u-lg12 ms-bgColor-neutralLighterAlt ms-font-m">Custom properties:</div>
            </div>
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Property</div>
                <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-fontColor-white ms-font-m ms-bgColor-themeDarker">Value</div>
            </div>

            @for (int i = 0; i < Model.ConfigCustomProperties.Count; i++)
            {
                <div class="ms-Grid-row">
                    @Html.HiddenFor(model => model.ConfigCustomProperties[i].ID)
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg3 ms-bgColor-neutralLighterAlt ms-font-s">@Html.TextBoxFor(model => model.ConfigCustomProperties[i].Name)</div>
                    <div class="ms-Grid-col ms-u-sm6 ms-u-lg9 ms-bgColor-neutralLighterAlt ms-font-s txtLargeWidth" style="word-wrap: break-word;">@Html.TextAreaFor(model => model.ConfigCustomProperties[i].Value) </div>
                </div>
            }
            <br />
            @Html.HiddenFor(model => model.ConfigurationId)
            @Html.HiddenFor(model => model.TestRunId)
            <div class="ms-Grid-row" style="padding-left:250px">
                <div style="text-align:center">
                    <input type="submit" value="Update" class="ms-Button" />
                </div>
            </div>

        </div>
    }
    else
    {
        <div style="width: 70%; margin: auto" class="ms-Grid ms-font-s-plus">
            No data found
        </div>
    }
}